[build]
builder = "nixpacks"

[deploy]
startCommand = "python manage.py collectstatic --noinput && python manage.py migrate && python manage.py createsuperuser --noinput || true && gunicorn core.wsgi --capture-output --log-level debug --access-logfile - --error-logfile -"
